*{
    margin          :0;
    text-decoration : none;
    list-style      : none;
    box-sizing      : border-box;
}

.container {
    margin : 72px 55px;
}

.logo{
    font-family : Arial, Helvetica, sans-serif;
    font-size   : 82%;
    font-weight : bold;
    color       : #AF9453;
}

#container-nav {
    background-color: white;
    position        : fixed;
    height          : 70px;
    width           : 1239px;
    padding         : 10px;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
}

#container-logo {
    width           : 20%;
    padding-left    : 60px;
    text-align      : center;
    vertical-align  : center;
}

#container-navlinks {
    width           : 80%;
    vertical-align  : center;
    word-spacing    : 40px;
    padding-right   : 40px;
    font-family     : Arial, Helvetica, sans-serif;
}

#container-navlinks ul{
    float           : right;
    list-style-type : none;
}

#container-navlinks ul li{
    display: inline;
}

#container-navlinks ul li a{
    color       : black;
    font-size   : 80%;
    align-items : center;
}

#container-navlinks ul li a:hover{
   color: #634c16;   
}

#container-main {
    padding-top         : 360px;
    padding-left        : 430px;
    height              : 880px;
    width               : 1239px;
    background          : url(./images/image3.png) no-repeat fixed;
    background-position : left;
    color               : #fff;
    line-height         : 60px;
    font-weight         : 500;
    font-size           : 40px;
    letter-spacing      : 15px;
}

#container-main pre{
    width : fit-content;
}

#servicerow{
    display : flex;
    margin  : 65px 45px;
    padding : 0px 35px 20px 35px;
    width   :1149px;
}

#container-last {
    margin              : 80px 70px;
    height              : 650px;
    width               : 1100px;
    background          : url(./images/image2.png) no-repeat  fixed;
    background-position : left;
    background-size     : 1170px;
    display             : flex;
    justify-content     : end;
    padding             : 60px 35px 60px 0px;
}

.gallery{
    display         : flex;
    width           : 320px;
    background      : url(./images/flower.png) no-repeat center;
    margin-right    : 33px;
}

.gallery #ser{
    font-size       : 33px;
    letter-spacing  : 7px;
    font-family     : sans-serif;
    height          : fit-content;
    color           : white;
    padding         : 100px 0px 0px 62px;
}

#unfo p{
    padding         : 95px 0px 0px 0px;
    color           : white;
    line-height     : 34px;
    letter-spacing  : 5px;
    height          : fit-content;
    text-align      : center;
    font-family     : 'Times New Roman', Times, serif;
    font-size       : 20px;
}

.gallery #disbut button{
    width           :195px;
    height          : 38px;
    background-color: transparent;
    border          : 1px solid white;
    color           : white;
    margin-top      : 67px;
    align-self      : center;
    font-family     : sans-serif;
}

.flower{
    display         : flex;
    width           : 360px;
    background      : url(./images/flower.png) no-repeat center;
    margin-right    : 85px;
}

#ser{
    font-size       : 33px;
    letter-spacing  : 7px;
    font-family     : sans-serif;
    height          : fit-content;
    color           : white;
    padding         : 123px 0px 0px 71px;
}

#dream p{
    padding         : 95px 0px 0px 0px;
    color           : white;
    line-height     : 34px;
    letter-spacing  : 2px;
    height          : fit-content;
    text-align      : center;
    font-family     : 'Times New Roman', Times, serif;
    font-size       : 20px;
}

#disbut button{
    width           :222.317px;
    height          : 38px;
    background-color: transparent;
    border          : 1px solid white;
    color           : white;
    margin-top      : 67px;
    align-self      : center;
    font-family     : sans-serif;
}

.image1{
    width       : 640px;
}

#container-banner {
    padding : 25px 0px 25px 40px;
    width   : 1100px;
}

footer {
    margin          : 80px 57px 0px 70px;
    padding         : 40px 80px 20px 180px;
    background-color: #AF9453;
    color           : #fff;
    width           : 1100px;
    height          : 170px;
}

.footer-content {
    display     : flex;
    padding-top : 8px;
    width       :860px;
}

.footer-content p {
margin      : 0;
font-size   : 12px;
line-height : 17px;
font-weight : bold;
}

.footer-content a {
color           : #fff;
border-bottom   : 10px solid #fff;
}

#foot{
    font-family : sans-serif;
    padding     : 0px 0px 0px 8px;
    margin      : 5px;
    line-height : 16px;
}

button {
    height          : 35px;
    background-color: transparent;
    border          : 1px solid white;
    color           : white;
    width           : 170px;
    padding         : 5px;
    align-self      : center;
}

#txt-edit{
    font-family     : 'Times New Roman', Times, serif;
    font-weight     : 400;
    font-size       : 28px;
    letter-spacing  : 3px;
    line-height     : 43px;
}